@use "../../Styles/variables" as *;


.search-box {

    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    width: 400px;
   

    &__input{


    border: none;
    flex-grow: 1;
    margin: 0px 10px;
    padding: 3px;
    font-size: 14px;

    background-color: orange;
    border-radius: 15px;
            }

    &__selection{
        color: wheat;
        font-size: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .item{
            margin-right: 25px;
        }
        


    }


    &__label{
        padding: 5px;
        font-family: $fancy-font;
        font-size: 24px;
        font-weight: 800;
        color: red;
    }

    }


 