.form-container{

    display: flex;
    flex-direction: column;

    &__form {

        display: flex;
        flex-direction: column;
    }


&__button{
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #F2542D;

}

&__button:hover{

    color: white;
    cursor: pointer;
}

}