@import "../../Styles/variables";

.banner-container {
  font-family: $title-font;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  &__alcohols {
    margin-top: 20px;
    width: 700px;
    border-radius: 10px;
  }

  &__header{
    font-family: $logo-font;
    font-size:  72px;
  }

  background-color: black;
}
