.edit-drink {
    &__title {
      margin: 1em auto;
      color: white;
      display: flex;
      justify-content: center;
    }
  
    &__content {
      margin: auto;
      width: fit-content;
      max-width: 500px;
    }
  
    &__buttons {
      display: flex;
      justify-content: center;

      &-button{  
        font-size: 16px;
        font-weight: 600;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: #F2542D;

        &:hover{

          color: white;
          cursor: pointer;
      }
  }
    
    }
  

    
  }
  