@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Diphylleia&family=Indie+Flower&family=Nunito:ital,wght@1,1000&family=Rubik:wght@300&display=swap');

$title-font: "Nunito", "sans-serif"; 
$category-font: "Bebas Neue", "sans-serif"; 
$description-font: "Diphylleia", "sans-serif";
$fancy-font: "Indie Flower", "sans-serif"; 
$logo-font: "Bungee Spice", "sans-serif";
$text-font:"Rubik", "sans-serif"

