html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.App {
  height: 100%;
  width: 100vw;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
